@import "nullstyle";

$bg: #1C1B21;

$white: #fff;

$ff: 'Poppins';

%border-radius {
    border-radius: 20px 0;
}

@mixin container($max-width, $padding) {
    max-width: $max-width;
    padding: $padding;
    margin: 0 auto;
}

@mixin linkhover($link-hover-color) {
    transition: all ease .3s;
    &:hover {
        color: $link-hover-color;
        border-bottom: 2px solid $link-hover-color;
    }
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    background: $bg;
    display: flex;
    flex-direction: column;
    font-family: $ff;
    color: $white;
}

.main {
    width: 100%;
    flex: 1 0 auto;
}

// header

.header {
    width: 100%;
    position: fixed;
    top: 100px;
    opacity: 0;
    left: 0;
    &._active {
        top: 0;
        opacity: 1;
        transition: all ease 2s;
    }
    z-index: 10;
    &__container {
        @include container(950px, 0 15px);
        display: grid;
        grid-template: 1fr / 260px 1fr;
        align-items: center;
    }
    &__logo {
        position: relative;
        z-index: 10;
    }
}

.menu__link {
    color: $white;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    @include linkhover(#d4d4d4);
}

.menu__list {
    position: relative;
    z-index: 10;
}

@media (min-width: 768px) {
    .header__container {
        height: 90px;
    }

    .menu__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    .header__logo img {
        width: 30px;
    }

    .menu {
        justify-self: end;
    }

    .menu__body {
        padding-top: 50px;
        position: fixed;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        background:$bg;
        transition: all 0.3s ease 0s;

        &._active {
            left: 0;
        }

        & li {
            margin-bottom: 5px;
            margin-left: 15px;
        }
    }

    .header__container {
        height: 50px;
    }

    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 25px;
        height: 15px;
        cursor: pointer;

        &::before,
        &::after {
            content: "";
        }

        & span {
            top: 50%;
            transform: translate(0px, -50%);
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        & span,
        &::before,
        &::after {
            left: 0;
            position: absolute;
            height: 10%;
            width: 100%;
            transition: all 0.3s ease 0s;
            background: #fff;
            border-radius: 5px;
        }

        
        &._active span {
            transform: scale(0);
        }

        &._active::before {
            top: 50%;
            transform: rotate(45deg) translate(0px, -50%);
        }

        &._active::after {
            top: 50%;
            transform: rotate(-45deg) translate(0px, -50%);
        }
    }
}

// first block

#myVideo {
    position: absolute;
    left: 0;
    top: 0;
}

.first {
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;

    & .container {
        position: relative;
        width: 100%;
        @include container(1140px, 0 15px);
        display: grid;
        align-items: center;
        justify-items: start;

        & h2 {
            font-weight: 700;
            font-size: 48px;
            line-height: 72px;
            align-self: end;
            margin-bottom: 10px;
            transform: translate(0, 120%);
            opacity: 0;
            &._active {
                transform: translate(0, 0);
                opacity: 1;
                transition: all 2s ease 1s;
            }
        }

        & h1 {
            font-weight: 700;
            color: rgba(0, 0, 0, 0);
            -webkit-text-stroke: 1px $white;
            transform: translate(0, 120%);
            opacity: 0;
            &._active {
                transform: translate(0, 0);
                opacity: 1;
                transition: all 2s ease 2s;
            }
        }
    }
}

@media (min-width: 768px) {
    .first {
        & h1 {
            font-size: 100px;
            line-height: 150px;
        }
    }
}

.news {
    @include container(1100px, 0);
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    padding: 20px 0;
    position: relative;

    &__item {
        position: relative;

        & img {
            transform: scale(0);
            opacity: 0;
        }

        &._active img {
            opacity: 1;
            transform: scale(1);
            transition: all 2s ease 0s;
        }

        & p {
            position: absolute;
            bottom: 0;
            width: 350px;
            padding: 20px;
            background: rgba($color: #7A66CC, $alpha: 0.7);
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            @extend %border-radius;
            transform: translate(0, 120%);
            opacity: 0;
        }
        &._active p {
            transform: translate(0, 0);
            opacity: 1;
            transition: all 2s ease 1s;
        }
    }
}

@media (max-width: 1200px) {
    .news {
        grid-template: 1fr 1fr / 1fr 1fr;
        justify-items: center;
        row-gap: 20px;
        &__item:last-child {
            grid-column: span 2;
        }
    }
}

@media (max-width: 767px) {
    .news {
        padding: 20px 0;
        grid-template: 1fr 1fr 1fr / 1fr;
        &__item:last-child {
            grid-column: span 1;
        }
    }
}

@media (max-width: 375px) {
    .news__item,
    .news__item img,
    .news__item p {
        width: 100%;
    }
}

.about {
    @include container(1140px, 0 15px);
    display: flex;
    justify-content: space-between;
    margin-top: 180px;
    margin-bottom: 130px;

    &__title {
        display: flex;
        color: $white;
        font-weight: 700;
        font-size: 0;
        opacity: 0;
        transform: scale(0);

        &._active {
            font-size: 48px;
            opacity: 1;
            transform: scale(1);
            transition: all ease 2s;
        }

        & img {
            margin-right: 30px;
        }
    }

    & p {
        width: 80%;
        font-size: 16px;
        line-height: 24px;
        margin-top: 80px;
        opacity: 0.5;
        margin-bottom: 0;
        opacity: 0;
        transform: translate(-120%, 0);

        &._active {
            margin-bottom: 60px;
            opacity: 1;
            transform: translate(0, 0);
            transition: all ease 2s;
        }
    }

    &__item {
        position: relative;

        &._active .about__img1 {
            transform: translate(0, 0);
            opacity: 1;
            transition: all 2s ease 1s;
        }

        &._active .about__img2 {
            transform: translate(0, 0);
            opacity: 1;
            transition: all ease 2s;
        }
    }

    &__img1 {
        position: absolute;
        top: 70px;
        right: 95px;
        z-index: 2;
        transform: translate(120%, 0);
        opacity: 0;
    }

    &__img2 {
        margin-top: 150px;
        transform: translate(120%, 0);
        opacity: 0;
    }

    &__list {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        gap: 30px;

        & li {
            transform: translate(-120%, 0);
            opacity: 0;
            font-size: 18px;
            display: flex;

            & img {
                margin-right: 20px;
            }
        }

        &._active {

            li {
                transform: translate(0, 0);
                opacity: 1;
                transition: all ease 2s;
            }
        }
    }
}

@media (max-width: 992px) {
    .about {
        display: block;
        text-align: center;
        margin: 50px 0;

        &__title {
            justify-content: center;
            align-items: center;
            font-size: 30px;
        }
        & p {
            width: 100%;
            margin-top: 30px;
        }
        &__img2 {
            display: none;
        }

        &__img1 {
            position: static;
            margin: 0 auto;
            margin-top: 60px;
        }
        &__list {
            grid-template: 1fr 1fr 1fr 1fr / minmax(0, 1fr) 1fr minmax(0, 1fr);
            & li {
                grid-column: 2;
                & img {
                    width: 30px;
                }
            }
            &._active {
                li {
                    transform: translate(0, 0);
                    opacity: 1;
                    @for $var from 1 to 5 {
                        $delay: $var * 0.2;
                        &:nth-child(#{$var}) {
                            @if $var == 1 {
                                transition: transform 1s ease 0s;
                            } @else  {
                                transition: transform 1s ease #{$delay + s};
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .about__img1 {
        width: 100%;
    }
}