@import "nullstyle";

// Vars

$bg: #1C1B21;

$white: #fff;

$ff: 'Poppins';

// Blades and mixins

%border-radius {
    border-radius: 20px 0;
}

@mixin container($max-width, $padding) {
    max-width: $max-width;
    padding: $padding;
    margin: 0 auto;
}

@mixin linkhover($link-hover-color) {
    transition: all ease .3s;
    
    &:hover {
        color: $link-hover-color;
        border-bottom: 2px solid $link-hover-color;
    }
}

// Body lock

body._lock {
    overflow: hidden;
}

// Nailing the footer to the bottom

.wrapper {
    width: 100%;
    min-height: 100vh;
    background: $bg;
    display: flex;
    flex-direction: column;
    font-family: $ff;
    color: $white;
    overflow: hidden;
}

.main {
    width: 100%;
    flex: 1 0 auto;
}

// header

.header {
    width: 100%;
    position: fixed;
    top: 100px;
    opacity: 0;
    left: 0;

    &._active {
        top: 0;
        opacity: 1;
        transition: all ease 2s;
    }
    z-index: 10;

    &__container {
        @include container(950px, 0 15px);
        display: grid;
        grid-template: 1fr / 260px 1fr;
        align-items: center;
    }

    &__logo {
        position: relative;
        z-index: 10;
    }
}

.menu__link {
    color: $white;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    @include linkhover(#d4d4d4);
}

.menu__list {
    position: relative;
    z-index: 10;
}

@media (min-width: 768px) {
    .header__container {
        height: 90px;
    }

    .menu__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    .header__logo img {
        width: 30px;
    }

    .menu {
        justify-self: end;
    }

    .menu__body {
        padding-top: 50px;
        position: fixed;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        background:$bg;
        transition: all 0.3s ease 0s;

        &._active {
            left: 0;
        }

        & li {
            margin-bottom: 5px;
            margin-left: 15px;
        }
    }

    .header__container {
        height: 50px;
    }

    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 25px;
        height: 15px;
        cursor: pointer;

        &::before,
        &::after {
            content: "";
        }

        & span {
            top: 50%;
            transform: translate(0px, -50%);
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        & span,
        &::before,
        &::after {
            left: 0;
            position: absolute;
            height: 10%;
            width: 100%;
            transition: all 0.3s ease 0s;
            background: #fff;
            border-radius: 5px;
        }

        
        &._active span {
            transform: scale(0);
        }

        &._active::before {
            top: 50%;
            transform: rotate(45deg) translate(0px, -50%);
        }

        &._active::after {
            top: 50%;
            transform: rotate(-45deg) translate(0px, -50%);
        }
    }
}

// first block

.first {
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    background: url("../img/first/background.jpg") center no-repeat;
    background-size: cover;

    & .container {
        position: relative;
        width: 100%;
        @include container(1140px, 0 15px);
        display: grid;
        align-items: center;
        justify-items: start;

        & h2 {
            font-weight: 700;
            font-size: 48px;
            line-height: 72px;
            align-self: end;
            margin-bottom: 10px;
            transform: translate(0, 120%);
            opacity: 0;

            &._active {
                transform: translate(0, 0);
                opacity: 1;
                transition: all 2s ease 1s;
            }
        }

        & h1 {
            font-weight: 700;
            color: rgba(0, 0, 0, 0);
            -webkit-text-stroke: 1px $white;
            transform: translate(0, 120%);
            opacity: 0;

            &._active {
                transform: translate(0, 0);
                opacity: 1;
                transition: all 2s ease 2s;
            }
        }
    }
}

@media (min-width: 768px) {
    .first {

        & h1 {
            font-size: 100px;
            line-height: 150px;
        }
    }
}

// Second block (news)

.news {
    @include container(1100px, 0);
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    padding: 20px 0;
    position: relative;

    &__item {
        position: relative;

        & img {
            transform: scale(0);
            opacity: 0;
        }

        &._active img {
            opacity: 1;
            transform: scale(1);
            transition: all 2s ease 0s;
        }

        & p {
            position: absolute;
            bottom: 0;
            width: 350px;
            padding: 20px;
            background: rgba($color: #7A66CC, $alpha: 0.7);
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            @extend %border-radius;
            transform: translate(0, 120%);
            opacity: 0;
        }

        &._active p {
            transform: translate(0, 0);
            opacity: 1;
            transition: all 2s ease 1s;
        }
    }
}

@media (max-width: 1200px) {
    .news {
        
        grid-template: 1fr 1fr / 1fr 1fr;
        justify-items: center;
        row-gap: 20px;

        &__item:last-child {
            grid-column: span 2;
        }
    }
}

@media (max-width: 767px) {
    .news {

        padding: 20px 0;
        grid-template: 1fr 1fr 1fr / 1fr;

        &__item:last-child {
            grid-column: span 1;
        }
    }
}

@media (max-width: 375px) {
    .news__item,
    .news__item img,
    .news__item p {
        width: 100%;
    }
}

// Third block (about)

.about {
    @include container(1140px, 0 15px);
    display: flex;
    justify-content: space-between;
    margin-top: 180px;

    &__title {
        display: flex;
        color: $white;
        font-weight: 700;
        font-size: 0;
        opacity: 0;
        transform: scale(0);

        &._active {
            font-size: 48px;
            opacity: 1;
            transform: scale(1);
            transition: all ease 2s;
        }

        & img {
            margin-right: 30px;
        }
    }

    & p {
        width: 80%;
        font-size: 16px;
        line-height: 24px;
        margin-top: 80px;
        margin-bottom: 0;
        opacity: 0;
        transform: translate(-120%, 0);
        transition: all ease 0.5s;

        &._active {
            margin-bottom: 60px;
            opacity: 0.5;
            transform: translate(0, 0);
            transition: all ease 2s;
        }
    }

    &__item {
        position: relative;
    }

    &__img1 {
        position: absolute;
        top: 70px;
        right: 95px;
        z-index: 2;
        transform: translate(120%, 0);
        opacity: 0;
    }

    &__img2 {
        margin-top: 150px;
        transform: translate(120%, 0);
        opacity: 0;
    }

    &__list {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        gap: 30px;

        & li {
            transform: translate(-120%, 0);
            opacity: 0;
            font-size: 18px;
            display: flex;

            & img {
                margin-right: 20px;
            }
        }

        &._active {

            li {
                transform: translate(0, 0);
                opacity: 1;
                transition: all ease 2s;
            }
        }
    }
}

@media (min-width: 993px) {
    .about__item._active .about__img1 {
        transform: translate(0, 0);
        opacity: 1;
        transition: all 2s ease 1s;
    }

    .about__item._active .about__img2 {
        transform: translate(0, 0);
        opacity: 1;
        transition: all ease 2s;
    }
}

@media (max-width: 992px) {
    .about {
        display: block;
        text-align: center;
        margin: 50px 0;

        .about__title {
            justify-content: center;
            align-items: center;
            font-size: 30px;
        }

        & p {
            width: 100%;
            margin-top: 30px;
        }

        &__img2 {
            display: none;
        }

        &__img1 {
            display: none;
        }

        &__list {
            grid-template: 1fr 1fr 1fr 1fr / minmax(0, 1fr) 1fr minmax(0, 1fr);
            
            & li {
                grid-column: 2;

                & img {
                    width: 30px;
                }
            }
            &._active {
                
                li {
                    transform: translate(0, 0);
                    opacity: 1;

                    @for $var from 1 to 5 {
                        $delay: $var * 0.2;

                        &:nth-child(#{$var}) {

                            @if $var == 1 {
                                transition: transform 1s ease 0s;
                            } 
                            
                            @else  {
                                transition: transform 1s ease #{$delay + s};
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .about__img1 {
        width: 100%;
    }
}

// Fourth block (MTV)

.mtv {
    @include container(1140px, 0 15px);
	display: block;
    position: relative;
    margin-top: 150px;
    margin-bottom: 780px;

    &__text {
		width: 100%;
		position: absolute;
		transform: translate(120%, 0);
		opacity: 0;
		margin-top: 85px;
		padding: 50px 0 50px 80px;
		border: 1px solid $white;
		@extend %border-radius;

		& p {
			width: 520px;
			padding-bottom: 25px;
			border-bottom: 1px solid $white;
			font-size: 18px;
			font-weight: 400;
		}
    }
	&__img {
		position: absolute;
		top: 50%;
		right: 80px;
		transform: translate(-120%, 0);
		opacity: 0;
	}

	&__link {
		display: block;
		color: #7A66CC;
		font-size: 18px;
		font-weight: 700;
		text-decoration: none;
		margin-top: 25px;
		transition: all ease 0.3s;

		&:hover {
			color: #4d4082;
		}
	}

	&._active {
        
		& .mtv__text {
			transform: translate(0);
			opacity: 1;
			transition: all ease 2s;
		}

		& .mtv__img {
			opacity: 1;
			transform: translate(0);
			transition: all 2s ease 1s;
		}
	}
}

@media(max-width: 1200px) {
	.mtv {
		margin-top: 30px;
		margin-bottom: 30px;

		&__text {
			position: static;
			padding: 50px 80px;

			& p {
				width: 100%;
			}
		}

		&__img {
			display: none;
		}
	}
}

@media(max-width: 768px) {
	.mtv__text {
		padding: 10px 20px;
	}
}

// Fifth block (music)

.music {
    @include container(1140px, 0 15px);
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 200px;

    &__img {
        display: flex;
        align-items: center;

        &-img {
            border-radius: 50%;
            align-self: center;
            transform: translate(120%, 0) scale(0);
            opacity: 0;
            transition: all ease 2s;

            &._active {
                transform: translate(0, 0) scale(1);
                opacity: 1;
                transition: all ease 2s;
            }

            &._play {
                animation-name: musicPlayImg;
                animation-duration: 0.5s;
                animation-iteration-count: infinite;
            }
        }
    }

    &__body {
        max-width: 540px;
        width: 100%;
        display: block;
        transform: translate(-120%, 0) scale(0);
        opacity: 0;

        &._active {
            transform: translate(0, 0) scale(1);
            opacity: 1;
            transition: all ease 2s;
        }
    }

    &__title {
        display: flex;
        justify-content: space-between;
        max-width: 330px;
        width: 100%;
        font-size: 42px;
        font-weight: 700;
        margin-bottom: 62px;
    }
    
    &__player {
        max-width: 543px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;

        .progres__container {
            margin-left: 50px;
            width: 100%;
            height: 6px;
            border-radius: 10px;
            background: $white;
            cursor: pointer;

            .progres {
                max-width: 100%;
                width: 0;
                height: 6px;
                border-radius: 10px;
                background: #7A66CC;
            }
        }
    }

    .player__btns {
        display: flex;

        & {
            cursor: pointer;
        }

        & .play {
            margin: 0 20px;
        }
    }

    .song__title {
        color: $white;
        font-size: 18px;
    }
}

@keyframes musicPlayImg {
    0% {
        box-shadow: 0 0 0 30px rgba($color: #7A66CC, $alpha: 0.6), 0 0 0 60px rgba($color: #7A66CC, $alpha: 0.3);
        transform: scale(1.05);
    }

    100% {
        box-shadow: 0;
        transform: scale(1);
    }
}

@media(max-width: 1200px) {
    .music {
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        margin-bottom: 50px;

        &__title {
            margin: 0 auto;
            margin-top: 80px;
            margin-bottom: 50px;
            font-size: 30px;
        }

        &__img-img {
            width: 60%;
            margin: 0 auto;
        }
        margin-bottom: 70px;
    }

    .song__title {
        text-align: center;
    }
}

.gallery {
    @include container(1100px, 0);
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    gap: 38px;

    .gallery__text {
        font-size: 24px;
        color: #7A66CC;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        opacity: 0;
        transition: all ease 0.3s;
    }

    .gallery___item {
        position: relative;
        grid-column: span 1;
        grid-row: span 1;
        cursor: pointer;

        img {
            transition: all ease 0.3s;
        }

        &:hover {

            img {
                filter: opacity(0.3);
            }

            .gallery__text {
                opacity: 1;
            }
        }
    }

    .gallery___item_low_row {
        opacity: 0;
        transform: translate(0, -120%);

        &._active {
            transform: translate(0, 0);
            opacity: 1;
            transition: all ease 2s;
        }
    }

    .gallery___item_big_row {
        grid-row: span 2;
    }

    .gallery___item_big_row {
        opacity: 0;

        &._active {
            opacity: 1;
            transition: all 1s ease 2s;
        }
    }
}

@media(max-width: 1200px) {
    .gallery {
        grid-template: 1fr 1fr / 1fr 1fr;
        justify-items: center;
        align-items: center;

        .gallery___item_big_row {
            order: 2;
        }

        .gallery___item_low_row {
            order: 1;
        }
    }
}

@media (max-width: 767px) {
    .gallery {
        grid-template: 1fr 1fr 1fr 1fr / 1fr;
        & img {
            width: 100%;
        }
    }
}

.tours {
    @include container(1140px, 0 15px);
    margin-top: 160px;
    display: flex;
    justify-content: space-between;

    .card {
        margin: 20px 0;
        border-radius: 30px 0;
        background: #9e9e9e;
        opacity: 0;
        max-width: 350px;
        width: 100%;

        &._active {
            background: #2F2B2B;
            opacity: 1;
            transition: all ease 2s;
        }

        & img {
            transition: all ease 0.3s;

            &:hover {
                filter: opacity(0.5);
            }
            max-width: 350px;
            width: 100%;
        }

        &__title {
            font-size: 18px;
            font-weight: 700;
            opacity: 0.5;
            margin: 30px 0 20px 35px;
        }

        &__text {
            font-size: 18px;
            font-weight: 500;
            margin: 30px 0 30px 35px;
        }

        .btns {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & p {
                opacity: 0.5;
                margin: 0 auto;
            }

            & a {
                text-decoration: none;
                color: $white;
                text-transform: uppercase;
                background: #7A66CC;
                padding: 20px 60px;
                border-radius: 30px 0;
                transition: all ease 0.3s;

                &:hover {
                    background: rgb(100, 100, 100);
                    color: rgb(0, 0, 0);
                }
            }

            & p,
            & a {
                font-size: 16px;
                font-weight: 700;
            }
        }
    } 
}

@media(max-width: 1200px) {
    .tours {
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

.footer {
    @include container(100%, 0 15px);
    margin-top: 180px;

    & * {
        margin: 0 auto;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        max-width: 510px;
        width: 100%;
    }
}

.contacts__img {
    max-width: 533px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.copyright {
    margin-top: 100px;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .footer {
        margin-top: 50px;
    }

    .contacts__img {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .footer__links {
        flex-direction: column;
        & li {
            margin: 10px 0;
        }
    }

    .copyright {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}